* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    font-family: "Rubik", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.heading {
  text-align: center;
  margin: 1rem;
}

.upload {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
}

#chat-window {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  max-width: 80%;
  margin: 2%;
}

.phase {
  background-color: yellow;
  position: relative;
  border-bottom: 5px solid #6767e4;
  padding: 2rem;
  margin: 1rem;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 1.7rem;
  border-bottom: 5px solid #000000;
}

.system {
  background-color: lightgreen;
  border: 1px solid black;
  border-bottom: 5px solid #6767e4;
  padding: 0.5rem 2.1rem;
  margin: 1rem;
  border-radius: 10px;
}

.message-border {
  position: relative;
  border: 1px solid black;
  background-color: lightblue;
  border-bottom: 5px solid #6767e4;
  padding: 2rem;
  margin: 1rem;
  border-radius: 10px;
}

.agent-image {
    /* a small round avatar */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    
}